

:root {
    --color-primary: #009BFF;
    --color-primary-light:#ECF3FF;
  }
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-custom {
  background-color: var(--color-primary-light) !important;
}

.p-8{
  padding: 10px 40px;
}

/* Move dots (pagination) below images */
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}
/* normal dots */
.custom-dots {
  gap: 12px;
  margin-bottom: 8px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d2d2d2;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: var(--color-primary);       /* dark center */
  border: 4px solid #fff;                 /* white ring */
  box-shadow: 0 0 0 2px var(--color-primary); /* dark border */
}


/* Ensure slider doesn't overlap hero section */
.image-slider-section {
  margin-top: 60px;
  z-index: 1;
  position: relative;
}


/* Hides Bootstrap default arrow completely */
.custom-accordion .accordion-button::after {
  display: none !important;
  background-image: none !important;
  content: "" !important;
}
.store-btn{
  background-color: black;
  color: white;
  padding: 6px 18px;
  border-radius: 8px;
}